<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Umbrella Dementia Cafes</title>
		
		
        @Styles.Render("~/Content/css/UmbrellaStyles.css")
		@Styles.Render("~/Content/bootstrap.css")

</head>
<body>      
		<div class = "container-fluid">
			<div style="float: left; width: 80%">
				 <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
						<!--<li><a href="@Url.Action("Index", "YourController", null)">
     <img src="yourImageSource"  style="vertical-align: middle; width: 30px;"> List View
<a/></li>-->
                        <li><img style="height:50px" src="@Url.Content("~/Content/images/umbrellalogo.png")"  /></li>
						<li>@Html.ActionLink("About", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cafes", "Index", "Cafes")</li>
                        <li>@Html.ActionLink("Events", "Index", "Events")</li>
                        <li>@Html.ActionLink("Forum", "Index", "Home")</li>
                        <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
                        <li>@Html.ActionLink("Contact us", "Index", "Home")</li>
                        <li>@Html.ActionLink("Donate", "Index", "Donation")</li>
<!--                        <li>@Html.ActionLink("Login", "Index", "Home")</li>-->
<!--                        <li><input type="text" name="searchbox" class="search" placeholder = "Search Here"></li>               -->
                    </ul>
                </div>
			</div>
			<div style="float: right; width: 20%; align: right">
				<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
						<li>@Html.ActionLink("Login", "Index", "Home")</li>
						<li style="padding: 12px"><img height="25px" src="@Url.Content("~/Content/images/umbrellasearch.png")" /></li>  
				    </ul>
				</div>
			</div>
		   
	        @RenderBody()

			<br/>
		    <footer>
				<p>All Rights Reserved</p>
				<p>Address: One. Community, 184 Surrey Rd, Blackburn.</p>
			</footer>
		  </div>
</body>
</html>
