﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Umbrella Dementia Cafes</title>
		
		
        @Styles.Render("~/Content/css/UmbrellaStyles.css")
		@Styles.Render("~/Content/bootstrap.css")

</head>
<body>      
		<div class = "container-fluid">
			<div style="float: left; width: 80%">
				 <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a style="margin: 0; padding: 0" href="@Url.Action("Index", "Home")"><img style="margin: 0; height:50px" src="@Url.Content("~/Content/images/umbrellalogo.png")"  /></a></li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Cafes", "Index", "Cafes")</li>
                        <li>@Html.ActionLink("Events", "Index", "Events")</li>
                        <li>@Html.ActionLink("Forum", "Index", "Home")</li>
                        <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
                        <li>@Html.ActionLink("Contact us", "Index", "Home")</li>
                        <li>@Html.ActionLink("Donate", "Index", "Donation")</li>
<!--                        <li>@Html.ActionLink("Login", "Index", "Home")</li>-->
<!--                        <li><input type="text" name="searchbox" class="search" placeholder = "Search Here"></li>               -->
                    </ul>
                </div>
			</div>
			<div style="float: right; width: 20%; align: right">
				<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
						<li>@Html.ActionLink("Login", "Index", "Home")</li>
						<li style="padding: 12px"><img height="25px" src="@Url.Content("~/Content/images/umbrellasearch.png")" /></li>  
				    </ul>
				</div>
			</div>
		   
	        @RenderBody()

			<br/>
            <div id="social" class="social">
                    <center>
                        <a class="social facebook" href="http://www.facebook.com">
                            <img src="~/Content/images/facebook.png" />
                        </a>
                        <a class="social twitter" href="http://www.twitter.com">
                            <img src="~/Content/images/twitter.png" />
                        </a>
                        <a class="social linkedin" href="http://www.linkedin.com">
                            <img src="~/Content/images/linkedin.png" />
                        </a>
                        <a class="social instagram" href="http://www.instagram.com">
                            <img src="~/Content/images/instagram.png" />
                        </a>
                        <a class="social pinterest" href="http://www.pinterest.com">
                            <img src="~/Content/images/pinterest.png" />
                        </a>
                    </center>
                </div>

                <center>
                    <footer>
                        <div class="quicklinks">
                            <label style="margin-left:37px">Quick Links</label>
                            <ul>
                                <li>@Html.ActionLink("Shop", "Index", "Shop",null, new {@style="color: gray"})</li>
							    <li>@Html.ActionLink("Donate", "Index", "Donation",null, new {@style="color: gray"})</li>
							    <li>@Html.ActionLink("Team", "About", "Home",null, new {@style="color: gray"})</li>
							    <li>@Html.ActionLink("News", "Index", "Home",null, new {@style="color: gray"})</li>
							    <li>@Html.ActionLink("Contact us", "About", "Home",null, new {@style="color: gray"})</li>
							    <!--<a href="~/Views/Home/Index.cshtml" style="color:gray">Shops</a></li>
                                <li><a href="~/Views/Home/Index.cshtml" style="color:gray">Donate</a></li>
                                <li><a href="~/Views/Home/Index.cshtml" style="color:gray">Team</a></li>
                                <li><a href="~/Views/Home/Index.cshtml" style="color:gray">News</a></li>
                                <li><a href="~/Views/Home/Index.cshtml" style="color:gray">Contact us</a></li>-->
                            </ul>
                            <label style="margin-left:37px">About Us</label>
                            <ul>
							    <li>@Html.ActionLink("Volunteer", "Index", "Home",null, new {@style="color: gray"})</li>
							    <li>@Html.ActionLink("Get involved", "Index", "Home",null, new {@style="color: gray"})</li>
							    <li>@Html.ActionLink("Find a cafe", "Index", "Home",null, new {@style="color: gray"})</li>
							    <li>@Html.ActionLink("FAQ", "Index", "Home",null, new {@style="color: gray"})</li>
                                <!--<li><a href="~/Views/Home/Index.cshtml" style="color:gray">Volunteer</a></li>
                                <li><a href="~/Views/Home/Index.cshtml" style="color:gray">Get involved</a></li>
                                <li><a href="~/Views/Home/Index.cshtml" style="color:gray">Find a cafe</a></li>
                                <li><a href="~/Views/Home/Index.cshtml" style="color:gray">FAQ</a></li>-->
                            </ul>
                        </div>
                </footer>
                    <br />
                    <p style="color:gray">Copyright © 2017 Umbrella Dementia Cafés. All rights reserved.</p>
            </center>

</div>
</body>
</html>

